.admin-wrapper {
    color: white;
    text-align: left;
    display: flex;
}

.admin-wrapper-body {
    margin-left: 15px;
    padding: 15px;
    flex-grow: 1;
    height: 100vh;
    overflow: auto;
}

.admin-primary-btn {
    background: linear-gradient(180deg, #a60100 0%, #d90000 100%);
    border: 1px solid #a60100;
    border-radius: 5px;
    min-width: 128px;
    height: 40px;
    font-weight: bold;
    font-size: 15px;
    color: white;
}

.admin-secondry-btn {
    background: black;
    border: none;
    border-radius: 5px;
    min-width: 128px;
    height: 40px;
    font-weight: bold;
    font-size: 15px;
    color: white;
    border: 1px solid white;
}

.admin-header {
    font-family: "Patua One";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.pageCountSelect {
    background: black;
    color: white;
    padding: 0px 10px;
    margin: 0 5px;
}

.admin-wrapper-site {
    /* padding: 15px; */
    background: #232328;
    margin-left: -10px;
    height: 100vh;
    position: initial;
    z-index: 1;
}

@media screen and (max-width:768px) {
    .admin-wrapper-site {
        position: fixed;
    }
}

.admin-body {
    background: #232328;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 15px;
    width: 100%;
}

.wallet-address {
    padding: 80px;
}

.wallet-address .header {
    color: #585858;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 20px;
}

.content {
    color: white;
    font-size: 13px;
}

.custom-primary-design {
    background: #d90000;
    border-radius: 5px;
}

.custom-secondary-design {
    border-radius: 7px;
}

.right-align {
    text-align: right;
}

.mr-4 {
    margin-right: 10px;
}

.status-approved {
    background: #0cbb67;
    border-radius: 30px;
    padding: 2px 10px;
    font-style: normal;
    font-weight: 800;
    font-size: 11px;
}

.edit-icon > i {
    border: 3px solid #656568;
    padding: 7px;
    border-radius: 50%;
}

.status-rejected {
    background: #d90000;
    border-radius: 30px;
    padding: 2px 10px;
    font-style: normal;
    font-weight: 800;
    font-size: 11px;
}

.dark-white {
    font-weight: bold;
}

.admin-body img {
    max-width: 150px;
    opacity: 0.4;
}

.admin-inline-grid {
    width: 100%;
    overflow: auto;
    display: inline-grid;
}

.admin-inline-grid td,
.admin-inline-grid tr,
.admin-inline-grid th {
    border: 0 !important;
    padding: 1rem 0.5rem;
}

.orders {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.orders input.customInputField {
    background: #2c3033;
}

.admin-inline-grid th {
    font-weight: normal;
    font-size: 10px;
}

.admin-inline-grid td,
.admin-inline-grid tr {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    padding: 6px;
}

.edit-icon.mr-2 {
    margin-right: 1em;
}

.admin-inline-grid img {
    object-fit: contain;
    max-width: 70px;
}

button.ml-2 {
    margin-left: 1em;
}

.custom-input-group > input {
    background: #1c1c20;
    border-color: #1c1c20;
    border: none;
    padding: 15px;
    width: 100%;
    margin-top: 5px;
    color: white;
    font-weight: bold;
}

.add-content-detail > div.wallet-address {
    min-width: 310px;
}

.custom-input-group > span {
    background: #1c1c20;
    border-color: #1c1c20;
}

.custom-input-group > input:focus {
    background: #1c1c20;
    border: 1px solid;
    color: #fff;
    box-shadow: none;
}

.custom-input-group > input:focus + .custom-span-ss {
    border: 1px solid #b2b2b2;
}

.custom-span-ss {
    margin-top: 5px;
}

.flex-grow-1 {
    flex-grow: 1;
}

.border-right-0,
.border-right-0:focus {
    border-right: 0px !important;
}

.tox .tox-toolbar__primary {
    background-color: #232527 !important;
    border: none !important;
    background: #232527 !important;
}

.tox .tox-toolbar__primary svg {
    fill: #fff !important;
}

.tox-toolbar__primary > div {
    border: 1px solid #000 !important;
}

.tox-tinymce {
    border: 1px solid #434347 !important;
}

.tox-statusbar {
    display: none !important;
}

.site-nav {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}

.animat-in {
    -webkit-animation: scale-in-hor-left 0.5s
        cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: scale-in-hor-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.site-nav span {
    margin: 0 10px;
    white-space: nowrap;
}

.side-nav-arrow {
    position: absolute;
    padding: 6px;
    border-radius: 60%;
    background: #232329;
}

.side-nav-arrow-position {
    left: 15em;
}

.deactivate {
    color: #d9212d;
    text-decoration: underline;
}

.activate {
    color: #30ba43;
    text-decoration: underline;
}

.side-nav-none {
    display: none;
}

@media only screen and (max-width: 700px) {
    .wallet-address {
        padding: 7px;
    }
    button.ml-2 {
        margin-left: 5px;
    }
    .admin-header span {
        /* display: none; */
    }

    .nav-wrapper.animat-in {
        width: 100vw;
    }

    .side-nav-arrow-position {
        right: 2em;
        left: unset;
    }
}

@media only screen and (max-width: 370px) and (min-width: 200px) {
    .admin-header span {
        display: none;
    }

    .admin-header button.add-content {
        min-width: 20px;
        float: right;
    }

    .custom-input-group > input:focus + .custom-span-ss {
        border: none;
    }
    .custom-input-group > input:focus {
        border-right: 1px solid;
    }
}

.admin-table-wrapper {
    background: #232328;
    font-size: 13px;
    font-weight: bold;
}

.admin-table-wrapper .table {
    border-radius: 15px;
}

.admin-table-wrapper .table > :not(:first-child) {
    border: none;
}

.admin-table-wrapper .table > thead {
    color: #919195fc;
}

.admin-table-wrapper tbody > tr > td {
    padding: 15px 10px;
}

.admin-table-wrapper tbody > tr:nth-of-type(odd) > td:first-child {
    border-radius: 10px 0px 0px 10px;
}

.admin-table-wrapper tbody > tr:nth-of-type(odd) > td:last-child {
    border-radius: 0px 10px 10px 0px;
}

.admin-table-wrapper tbody,
.admin-table-wrapper td,
.admin-table-wrapper tfoot,
.admin-table-wrapper th,
.admin-table-wrapper thead,
.admin-table-wrapper tr {
    border-style: none;
}

/* menu transition */

@-webkit-keyframes scale-in-hor-left {
    0% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        opacity: 1;
    }
    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        opacity: 1;
    }
}
@keyframes scale-in-hor-left {
    0% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        opacity: 1;
    }
    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        opacity: 1;
    }
}

.table-action {
    display: flex;
}

.table-action .table-edit {
    cursor: pointer;
}

.table-action .table-delete {
    cursor: pointer;
}


@media (max-width:450px){
    .mob-directcolumn{
        flex-direction: column;
    }
    .mob-margin2{
        margin: 5px;
    }
    .mob-kycrow{
        flex-direction: column !important;
        align-items: flex-start !important;
    }
    .mob-flexs{
        justify-content: flex-start;
    }
    .mob-textright{
        text-align: start !important;
    }
    .mob-flexe{
        justify-content: flex-end;
    }
    .fullwidth{
        width: 100%;
    }
    .mob-padding10{
        padding: 10px;
    }
    .mob-m30{
        margin-top: 30px;
    }
    .mob-history1{
        width: 70%;
        margin-left: 19%;
    }
    .mob-history2{
        width: 70%;
        margin-left: 8%;
    }
}